/* ====================================================================================================
    1. Global
======================================================================================================= */
@font-face {
  font-family: 'proxima_novaregular';
  src: url('proximanova-regular-webfont.woff2') format('woff2'),
       url('proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.section01 {
  /* this will be an img eventually*/
  background: rgba(51, 62, 90, .75);
}
body{
  margin: 0px;
}
/* ====================================================================================================
    2. Custom Variables
======================================================================================================= */
:root {
  --green-font-color: #25E39A;
}
:root {
  --main-font: 'proxima_novaregular';
}
/* ====================================================================================================
    3. Typography
======================================================================================================= */
#logo01 {
  display: inline-flex;
  position: relative;
  font: var(--main-font);
  font-size: 36px;
  color: white;
}
#logo02 {
  color: var(--green-font-color);
}
/* ====================================================================================================
    4. Grid System
======================================================================================================= */
.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 768px 716px 919px 963px 601px 657px 334px;
} 
/*.container {
  display: flex;
  flex-direction: column;
  height: 800px;
} not sure if i should use flex or grid yet for the main structure */
.header01 {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 90%;
  padding: 0 5% 0 5%;
}
.topnav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* ====================================================================================================
    5. Components
======================================================================================================= */
#sign {
  color: white;
  background-color: var(--green-font-color);
  font: var(--main-font);
  font-weight: normal;
  padding: 10px 15px;
  border: 0px;
}
.topnavcomp {
  padding: 15px 30px;
}
.topnavcomp:link {
  color: white;
  text-decoration: none;
}
.topnavcomp:visited {
  color: white;
  text-decoration: none;
}
.topnavcomp:hover {
  color: white;
  text-decoration: none;
}
.topnavcomp:active {
  color: white;
  text-decoration: none;
}
#welcome {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  font: var(--main-font);
  font-size: 72px;
  font-weight: 900;
  width: 100%;
  padding: 150px 0 0 0;
}
#form02 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#find {
  color: white;
  background-color: var(--green-font-color);
  font: var(--main-font);
  font-weight: bold;
  font-size: 24px;
  padding: 15px 20px;
  border: 0px;
}
#rectangle01 {
  height: 5px;
  border: 5px;
  background-color: var(--green-font-color);
  width: 40px;
}