/********************************************************************************
 1. Global
*******************************************************************************/

/*** variables **/
:root {
  --green: #25E39A;
  --blue: #6DA2FF;
  --font-normal: 'proxima_novaregular', sans-serif;
  --font-bold:'proxima_novabold', sans-serif;
  --font-boldx2: 'proxima_novaextrabold', sans-serif;
}

/*** fonts **/
@font-face {
  font-family: 'proxima_novaregular';
  src: url('webkit/proximanova-regular-webfont.woff2') format('woff2'),
       url('webkit/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novabold';
  src: url('webkit/proxima_nova_bold-webfont.woff2') format('woff2'),
       url('webkit/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novaextrabold';
  src: url('webkit/proxima_nova_extrabold-webfont.woff2') format('woff2'),
       url('webkit/proxima_nova_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*** body **/
body {
  font-family: var(--font-normal);
  line-height: 1.4;
  margin: 0px;
  color: #333E5A;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/*** global typography **/
h2 {
  font-family: var(--font-bold);
  font-size: 36px;
  margin: 0;
}

h3{
  font-size: 24px;
}

.lorem {
  color:  rgba(51, 62, 90, 0.7);
  word-wrap: normal;
  font-size: 18px;
  padding-top: 15px;
}

/*** main container **/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/********************************************************************************
 2. Header
*******************************************************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/*** logo **/
.logo {
  text-decoration: none;
  font-size: 36px;
}

.logo:link,
.logo:visited,
.logo:hover,
.logo:active {
  color: #fff;
  text-decoration: none;
}

.logo--highlight {
  color: var(--green);
}

/*** nav bar **/
nav ul {
  list-style: none;
  font-size: 0;
}

nav ul li {
  display: inline-block;
  font-size: 0px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
  color: #fff;
}

/*** nav buttons **/
.btn__nav--hover {
  background-color: none;
  padding: 15px 35px;
  margin: 0px;
  transition: 0.2s;
}

.btn__nav--hover:hover {
  color: var(--green);
}

#btn__nav {
  background-color: var(--green);
  padding: 15px 30px;
  margin: 0px;
  border: none;
}

/********************************************************************************
 3. Footer
*******************************************************************************/
.footer-container {
  background-color: #333E5A;
  font-family: var(--font-normal);
  color: #fff;
  padding: 50px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
}

.footer__nav ul {
  list-style: none;
  color: rgba(255, 255, 255, 0.75);
  padding: 0;
  margin: 0;
}

.footer__nav a:link,
.footer__nav a:visited,
.footer__nav a:hover,
.footer__nav a:active {
  color: rgba(255, 255, 255, 0.75);
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.footer-logo__title {
  font-size: 48px;
  color: #fff;
}

.footer-logo--highlight {
  font-family: var(--font-bold);
}

.copyright:link,
.copyright:visited,
.copyright:hover,
.copyright:active {
  color: rgba(255, 255, 255, 0.75);
}
/********************************************************************************
 4. Components
*******************************************************************************/
/*** hero section **/
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(biliximg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 1px;
}

.hero__content {
  display: flex;
  align-items: center;
  flex-direction:column;
  margin: 200px 0
}

h1 {
  font-family: var(--font-bold);
  font-size: 72px;
  color: #fff;
}

/*** recently added **/
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
  padding: 10px 0;
}

/** header title **/
.header-title {
  position: relative;
  font-weight: bold;
  padding-bottom: 10px;
}

.header-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 55px;
  background-color: var(--green);
  margin: 5px 0;
}

 .header-title--blue:after {
   background-color: var(--blue);
 }

.header__nav {
 display: flex;
 list-style: none;
}

.header__nav a {
  color: #333E5A;
  opacity: 0.7;
}

.header__nav a.active {
  border-bottom: 5px solid var(--green);
  opacity: 1;
}

/*** future-home container **/
.future-home__container {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0 auto 150px;
}

.future-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
}

#your-future {
  padding: 0 50px 0 0;
  margin-top: 0;
}

/** house cards **/
.house-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#house-card-one {
  background-image: url(biliximg4.jpg);
}

#house-card-two {
  background-image: url(biliximg5.jpg);
}

#house-card-three {
  background-image: url(biliximg6.jpg);
}

.house-card__img {
  height: 280px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.house-card {
  flex: 1;
  position: relative;
  margin-right: 15px;
  transition: all 200ms ease;
} 

.house-card:hover {
  transform: translateY(-5px);
}

.house-card:last-child {
  margin-right: 0;
}

.house-card__content {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 10px 5%;
  z-index: 1;
  color: #fff;
  background-image: linear-gradient( rgba(60, 79, 112, .60), rgba(60, 79, 112, .60));
}


.house-card__type {
  font-size: 22px;
  margin: 0 0 5px;
}

.house-card__price {
  font-size: 18px;
  margin: 0 0 5px;
}

/*** homework cards **/
.homework-card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0;
}

.homework-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 20px;
  padding: 50px;
  box-shadow: 0px 20px 75px rgba(0, 0, 0, 0.07);
}

.homework-card__icon {
  font-size: 32px;
  text-align: center;
  line-height: 75px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

#card__icon--green {
  color: var(--green);
  background-color: rgba(37, 227, 154, 0.2);
}

#card__icon--blue {
  color: var(--blue);
  background-color: rgba(109, 162, 255, 0.2);
}

#card__icon--pink {
  color: #E74D89;
  background-color: rgba(231, 77, 137, 0.2)
}

.homework-card__link {
  margin-top:30px;
  font-size: 18px;
}

#card__link--rent,
#card__link--rent:link,
#card__link--rent:visited,
#card__link--rent:hover,
#card__link--rent:active {
  color: var(--green);
}

#card__link--buy,
#card__link--buy:link,
#card__link--buy:visited,
#card__link--buy:hover,
#card__link--buy:active {
  color: var(--blue);
}

#card__link--sell,
#card__link--sell:link,
#card__link--sell:visited,
#card__link--sell:hover,
#card__link--sell:active {
  color: #E74D89;
}

/** simple pricing section **/
.simple-pricing-section {
  margin: 200px 0 50px;
  padding: 75px 0;
  background-color: rgba(162, 228, 255, 0.1);
}

.simple-pricing__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-pricing__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 200px;
}

.rectangle--blue {
  background-color: var(--blue);
}

.simple-pricing__content {
  margin-top: 80px;
}

.simple-pricing__search {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 20px 75px rgba(0, 0, 0, 0.07);
}

#pricing-search__title {
  padding: 75px 0 0;
  color: var(--blue);
}

.pricing-search__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}

.pricing-search__dropdown {
  display: flex;
  flex-direction: column;
  margin: 75px 0;
  max-width: 600px
}

.pricing-search {
  display: block;
  font-size: 18px;

}

/** client testamonials section **/
.client-testimonials {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 0;
}

.testimonials__content {
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding-right: 100px;
}

.testimonials-img__container {
  flex: 1;
  position: relative;
  box-shadow: 0px 20px 75px rgba(0, 0, 0, 0.07);
  background-image: url(testamonialsimg.jpg);
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 100%;
}

.testimonials-img__content {
  display: none;
  position: absolute;
  bottom: 0;
  width: 90%;
  line-height: 1;
  padding: 10px 5%;
  z-index: 1;
  color: #fff;
  background-image: linear-gradient( rgba(60, 79, 112, .60), rgba(60, 79, 112, .60));
}

.testimonials-img__title {
  font-size: 24px;
  margin: 0;
}

.testimonials-img__text {
  font-size: 20px;
  margin-top: 0;
  padding-top: 5px;
}

.testimonials-img__container:hover .testimonials-img__content {
  display: block;
}

/** more information section **/
.more-info-container {
  margin: 150px 0 0;
  padding: 75px 0 150px;
  background-color: rgba(162, 228, 255, 0.1);
}
.more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 0;
}

.more-info__content {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#more-info__please-ask {
  margin-bottom: 0;
}

#more-info__lorem {
  margin-top: 0px;
}

.more-info__links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/********************************************************************************
 5. Buttons
*******************************************************************************/
.btn {
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  background-color: var(--green);
  padding: 15px 50px;
}

/** fa-btn **/
.fi-btn {
  margin-bottom: 8px;
}

.fi-btn__icon {
  background-color: var(--green);
  color: #fff;
  padding: 8px 10px;
}

.fi-btn__text {
  color: var(--green);
  font-size: 18px;
}

/*** hero buttons **/
.btn--primary {
  font-family: var(--font-bold);
   font-size: 24px;
}

.btn--primary:link,
.btn--primary:visited,
.btn--primary:hover,
.btn--primary:active {
  color: #fff;
}

/*** recently-added section buttons **/
.btn--secondary {
  display: inline-block;
  border-bottom: 5px solid #fff;
  padding: 15px 40px;
  font-size: 18px;
  background-color: rgba(51, 62, 90, 0.05);
}

.btn--secondary:hover {
  transition: 0.2s;
  opacity: 1;
}

/** simple pricing section buttons **/
.btn--tertiary {
  font-size: 24px;
  font-family: var(--font-bold);
  color: #fff;
  padding: 15px 20px;
  background-color: var(--blue);
  border: none;
}

/** more info buttons **/

.btn--faq {
  font-family: var(--font-bold);
  color: #fff;
  padding: 10px 60px;
  text-transform: none;
  border: 1px solid var(--green)
}

.btn--faq:link,
.btn--faq:visited,
.btn--faq:hover,
.btn--faq:active {
  color: #fff;
}

.btn--chat {
  font-family: var(--font-bold);
  font-size: 24px;
  color: var(--green);
  padding: 10px 75px;
  border: 1px solid var(--green)
}