/** Contains global footer styling **/

.footer {
  background-color: $background-shadow;
  font-family: $font-normal;
  color: $white;
  padding: 50px 0;

  & ul {
    list-style: none;
    color: $off-white;
    padding: 0;
    margin: 0;
    font-size: .8rem;
  
    & a:link,
    & a:visited,
    & a:hover,
    & a:active {
      color: $off-white;
    }
  }
  
  &-social-media a {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid $off-white;
  
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $off-white;
    }
  }
  
  &-logo {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
  
    &__title {
      font-size: 2.66rem;
      color: $white;
    }

    &__title a:link,
    &__title a:visited,
    &__title a:hover,
    &__title a:active {
      color: #fff;
    }
    
    &--highlight {
      font-family: $font-bold;
    }
  }
}

.copyright:link,
.copyright:visited,
.copyright:hover,
.copyright:active {
  color: $off-white;
}